body{
	margin:  0px;
	padding: 0px;
}

#container{
	display: flex;
	flex-direction: column;
}

#header{
	height: 12.5vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#section{
	height:  87vh;
	display: flex;
	background-color: #FAFAFA;
}

#section > main{
	height: 87vh;
	width: 65vw;
}

#section > aside{
	height: 87vh;
	width: 35vw;
	display: flex;
	flex-direction: column;
	margin-left: 2.5%;
}

.logo{
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
}

.logo > i{
	margin-right: 10%;
	border-right: 2px solid black;
	padding-right: 10%;
}

.icons{
	display: flex;
	width: 20vw;
	justify-content: space-between;
}

#profile{
	display: flex;
	margin-top: 5px;
	align-items: center;
}

#profile > img{
	border-radius: 50%;
	border:  1px solid black;
	height: 50%;
	width: 10%;
	margin-right: 2.5%;
}

#stories, #suggestions{
	display: flex;
	flex-direction: column;
	border: 1px solid grey;
	height: 30vh;
	width: 22vw;
	background-color: white;
	overflow: scroll;
	border-radius: 2.5%;
}

#stories > div, #suggestions > div{
	display: flex;
	justify-content: space-between;
	margin-left: 5%;
}

.following, .recommended{
	display: flex;
	align-items: center;
	margin-left: 5%;
}

.following > img, .recommended > img{
	border-radius: 50%;
	height: 50%;
	width: 20%;
}

.fontNormal{
	font-weight: normal;
	color: grey;
}

#suggestions{
	margin-top: 20px;
	height: 27vh;
}

#links{
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
	width: 22vw;
}

#links > a{
	text-decoration: none;
	margin-left: 1.75%;
}

.following > article, .recommended > article{
	margin-left: 2.5%;
}

#header > input{
	height: 20px;
	width: 30vw;
	border: 1px solid black;
	border-radius: 2.5%;
	text-align: center;
	background-color: #FAFAFA;
}

.logo > header{
	font-size:  30px;
}

#postsSection{
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: scroll;
}

#postsSection > section{
	display: flex;
	flex-direction: column;
	border: 1px solid #E6E6E6;
	height: 80vh;
	width: 40vw;
	margin-top: 5%;
	border-radius: 1.0%;
}

.postLogo, .comment{
	height: 7.5vh;
}

.postImage{
	height: 70vh;
}

.comment{
	padding-left: 10px;
	font-size: 15px;
}

.smallIcon{
	border-radius: 50%;
	height: 4vh;
	width: 3vw;
	border:  1px solid black;
}

.postLogo{
	display: flex;
	align-items: center;
	margin-left: 10px;
}

.postLogo > span{
	margin-left: 10px;
	font-weight: bold;
}


/* Media Queries for extra small devices */

@media only screen and (max-width: 600px){
	/* Not as important on mobile devices */
	#profile, #links{
		display: none;
	}

	#section > aside{
		/* Aligning the aside columns by rows instead on small devices since there isn't a lot of space */
		width: 100vw;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-left: 0px;
	}

	#section{
		/* To make the aside section come first followed by the main section */
		flex-direction: column-reverse;
	}

	#section > main{
		width: 100vw;
	}

	#stories, #suggestions{
		width: 40vw;
		height: 35vh;
		margin-top: 0px;
		margin: 2.5vw;
	}

	#postsSection > section{
		/* To improve user navigation */
		overflow: visible;
		width: 85vw;
		height: 70vh;
	}

	.postImage{
		height: 45vh;
	}

	#header > input{
		/* Not as important on mobile devices */
		display: none;
	}

	.icons{
		justify-content: space-around;
	}
}