body{
	margin: 0px;
	padding: 0px;
}

.container{
	display: grid;
	grid-template-columns: 200px 350px auto 350px 200px;
	grid-template-rows: 25% auto 100px;
	border: 2px solid black;
	grid-gap: 15px;
	place-items: center center;
}

.item{
	border: 1px solid red;
}

#item-a{
	grid-row: 1/4;
	grid-column: 1/2;
	place-self: center center;
}

#item-b{
	grid-row: 2/3;
	grid-column: 3/4;
	place-self: center;
}

#item-c{
	grid-row: 1/4; 
	grid-column: 5/6;
	place-self: center;
}

#item-d{
	grid-row: 3/4;
	grid-column: 2/3;
	place-self: center;
}

#item-3{
	grid-row: 3/4;
	grid-column: 4/5;
	place-self: center;
}